<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="grinet_doviz_tcmb" xsi:type="array">
                    <item name="label" xsi:type="string">TCMB</item>
                    <item name="class" xsi:type="string">Grinet\DovizTCMB\Model\Import</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>