<?xml version="1.0"?>
<!--
/**
 * Grinet_DovizTCMB 
 *
 * [EN] Get currency rates from the Turkish Central Bank 
 * [TR] Magento2 için T.C. Merkez Bankası Döviz Kuru Güncelleyici
 *
 * https://www.grinet.com.tr/
 *
 * Author / Geliştirici : Hidayet Ok / hidonet@gmail.com 
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency">
            <group id="grinet_doviz_tcmb" translate="label" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>T.C.M.B.</label>
                <field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                </field>
            </group>
        </section>
    </system>
</config>
